[submodule "themes/hugo-journal"]
	path = themes/hugo-journal
	url = https://github.com/dashdashzako/hugo-journal.git
[submodule "hugo-shortcode-gallery"]
	path = themes/hugo-shortcode-gallery
	url = git@github.com:rohitshetty/hugo-shortcode-gallery.git
