{{ partial "top.html" . }}

<main>
  <article class="posts">
  <div>
    <h1>
    {{ .Title }}
    </h1>
    <i>
    {{ .Content }}
    </i>
    {{ range .Pages.GroupByDate "2006-01" }}
<h3>{{ .Key }}</h3>

    <ul>
      {{ range .Pages }}
      <li>
        <time datetime="{{ .Date.Format "2006-01-02 15:04:05 MST" }}">{{ .Date.Format "Jan 02"}}</time>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </li>
      {{- end }}

    </ul>
  {{ end }}
  </div>
</article>

</main>


{{ partial "bottom.html" . }}
